body{
    /* Unfortunately we need important to override the bootstrap default font */
    font-family: sans-serif !important;
}

header{
    color: ghostwhite;
    font-size: 1.5em;
}

@media (min-width: 40rem) {
    header{
        font-size: 2em;
    }
}

@media (min-width: 60rem) {
    header{
        font-size: 3em;
    }
}

header h4{
    color: #62676a;
}

header img{
    width: 3.2em;
    padding: 5px;
}

h4{
    color: #62676a;
}

.nav a{
    font-size: 1em;
    color: white;
}

.nav a:hover{
    color: white;
}

@media (min-width: 60rem) {
    .nav a{
        font-size: 1.5em;
    }
}

@media (min-width: 60rem) {
    p{
        font-size: 1.3em;
    }
}


.dark_theme{
    background: #454B50;
}

.dark_theme h2{
    color: #fdfffe;
}

.dark_theme h3, .dark_theme h4, .dark_theme h5{
    color: #c9cbca;
}

.dark_theme p{
    color: white;
}


.light_theme{
    background: #fdfffe;
}

.light_theme h2{
    color: #454B50;
}

.light_theme h3, .light_theme h4, .light_theme h5{
    color: #62676a;
}

.light_theme p{
    color: #23272a;
}

#tools td:first-child {
    text-align: center;
}

.special_links{
    text-align: center;
    font-size: 1em;
}

.special_links a:link {
    color: #51D6FF;
}

.special_links a:visited {
    color: #51D6FF;
}

.special_links a:hover {
    color: #8EE4FF;
}

.special_links a:active {
    color: #14C8FF;
}

.contacts h2, .contacts h1{
    color: white;
}

td {
    color: white;
    font-size: 2em;
    padding-left: 12px;
}

@media (max-width: 800px) {
    td {
        color: white;
        font-size: 1.5em;
        padding-left: 12px;
    }
}

@media (max-width: 600px) {
    td {
        color: white;
        font-size: 1em;
        padding-left: 12px;
    }
}
